<body style="background-color: #FFF8F0;">


  <p class="toolimg">
    <mat-toolbar style="background-color:#f7f7f2;">
     <img style="height: 40px;width: 150px;" src="assets\logo.webp" alt="">
   
    <span class="example-spacer"></span>
    <button class="tool"  routerLink="/home">Home</button>
    <button class="tool"  routerLink="/rental">Rental</button>
    <button class="tool"  routerLink="/sales">Sales</button>
    <button class="tool" routerLink="/aboutus">about us</button>
    <button class="tool" routerLink="/contactus">Contact us</button>
    <button class="tool" routerLink="/">Logout</button>
  
  </mat-toolbar>
  </p>
      <div class="about-section">
      <h1>About Us Page</h1>
      <p>PROJECT MEMBER DETAILS</p>
      <p>STAY GOLD</p>
    </div>
    
  <h2 style="text-align:center;color: rgb(255, 0, 0);font-family: 'Pacifico', cursive;">Our CSP Team <span style="padding-top: 5px;" class="material-symbols-outlined">
    groups
    </span></h2>

  <div class="row" style="background-color: #FFF8F0;">
      <div class="column" style="margin-left: 90px;">
        <div class="card">
          <img class="imga" id="img1" src="assets\saiganesh.jpg" alt="Jane" >
          <div class="container">
            <h2>SAI GANESH</h2>
            <p class="title"></p>
            <p>21471A05I7</p>
            <p>staygold@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img id="img1" src="assets\MANIDEEP.jpg" alt="Mike" >
          <div class="container">
            <h2>MANIDEEP</h2>
            <p class="title"></p>
            <p>21471A05K1</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <img id="img1" src="assets\KHAJA.jpg" alt="John" >
          <div class="container">
            <h2>khaja</h2>
            <p class="title"></p>
            <p>21471A05K0</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
    <div class="column" style="margin-left: 80px;">
      <div class="card">
        <img id="img1" src="assets\SANKAR.jpg" alt="Mike" >
        <div class="container">
          <h2>sankar</h2>
          <p class="title"></p>
          <p>21471A05G3</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img id="img1" src="assets\LUCKY.jpg" alt="Mike" >
        <div class="container">
          <h2>lucky</h2>
          <p class="title"></p>
          <p>21471A05I8</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img id="img1" src="assets\RAJESH.jpg" alt="Mike">
        <div class="container">
          <h2>rajesh</h2>
          <p class="title"></p>
          <p>21471A05G2</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
   <div class="column" style="margin-left: 80px;">
      <div class="card">
        <img id="img1" src="assets\sandeep.jpg" alt="Mike">
        <div class="container">
          <h2>Sandeep</h2>
          <p>21471A05J3</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img id="img1" src="assets\subhu.jpg" alt="Mike">
        <div class="container">
          <h2>Subba Readdy</h2>
          <p>21471A05J2</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <img id="img1" src="assets\chandra.jpg" alt="Mike" >
          <div class="container">
            <h2>Chandra</h2>
            <p>21471A05H0</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  </div>   
    
    
  <img src="assets\pic1.jpg" alt="Mike" class="single-img" style="display: block;margin-left: auto;margin-right: auto;width: 99.9%;">
  <div class="two">
    <div style="background-color: #f7f7f2;padding: 40px;color: rgb(236, 118, 49);">
        Overview:
      The rental room website development project aims to create a user-friendly online platform that allows individuals
       to search, compare, and book rental rooms. The website will serve as a centralized hub for property owners or
        managers to list their available rooms and for potential renters to find suitable accommodations. The project 
        will require a team of skilled professionals with expertise in web development, design, database management, 
        and project coordination
    </div>
  </div>
</body>












<router-outlet></router-outlet>
