<p class="toolimg">
    <mat-toolbar style="background-color:#f7f7f2;">
     <img style="height: 40px;width: 150px;" src="assets\logo.webp" alt="">
   
    <span class="example-spacer"></span>
    <button class="tool"  routerLink="/home">Home</button>
    <button class="tool"  routerLink="/rental">Rental</button>
    <button class="tool"  routerLink="/sales">Sales</button>
    <!-- <button class="tool"  routerLink="/login">Login</button> -->
    <button class="tool" routerLink="/aboutus">about us</button>
    <button class="tool" routerLink="/contactus">Contact us</button>
    <button class="tool" routerLink="/">Logout</button>
  
  </mat-toolbar>
  </p>
   <body>


    
  <div class="containers">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details"><b>HostelName</b></span>
            <input type="text" placeholder="Enter your house names" name="Nmae" value="Name" [(ngModel)]="User.Name" required>
          </div>
          <div class="input-box">
            <span class="details"><b>Gender</b></span>
            <input type="text" placeholder="Enter your Gender" value="Gender"name="Nmae" [(ngModel)]="User.Gender"  required>
          </div>
          <div class="input-box">
            <span class="details"><b>Email</b></span>
            <input type="text" placeholder="Enter your Email" name="Nmae" [(ngModel)]="User.Email" required>
          </div>
          <div class="input-box">
            <span class="details"><b>Category</b></span>
            <input type="text" placeholder="Enter Category"name="Nmae" [(ngModel)]="User.Category"  required>
          </div>
          <div class="input-box">
            <span class="details"><b>Address</b></span>
            <input type="text" placeholder="Enter your Address"name="Nmae" [(ngModel)]="User.Address" required>
          </div>
          <div class="input-box">
            <span class="details"><b>City</b></span>
            <input type="text" placeholder="Enter City" name="Nmae" [(ngModel)]="User.City"  required>
          </div>
       
        <div class="input-box">
            <span class="details"><b>State</b></span>
            <input type="text" placeholder="Enter State" name="Nmae" [(ngModel)]="User.State"  required>
        </div>
        
        <div class="input-box">
            <span class="details"><b>Mobile</b></span>
            <input type="text" placeholder="Enter your Contact" name="Name" [(ngModel)]="User.Mobile"  required>
          </div>
        </div>
        <div class="button">
          <input type="submit" (click)="Insert()" value="Register">
        </div>
      </form>
      <div class="alert alert-success my-2" *ngIf="!(SuccessMsg =='')">{{SuccessMsg}}</div>
                    <div class="alert alert-danger my-2" *ngIf="!(ErrorMsg =='')">{{ErrorMsg}}</div>
    </div>
  </div>
</body>

<div class="shopcard">
  <div class="heading1">
 <h1>Some Popular Houses For Rent<span class="material-symbols-outlined">payments</span></h1>
 
 </div>
     <div style="background-color: #f7f7f2;">
        <div class="container boxcontainer">
 
            <div class="flow"> 
                <img src="assets\rent\h1.jpg">
                <h1>Family</h1>
                <p class="by">By<span class="name"> STAY GOLD</span></p>
                <p class="description">"Home is where love resides, memories are created,and laughter never ends."</p>
                <span><del class="oldprice">$3000</del></span>
                <span class="newprice">$1500</span>
                <p class="ships"><span class="material-symbols-outlined">phone_in_talk</span>9493918483</p>
                <p class="right"><img src="assets\logo.webp" height="40px" width="80px" alt="" style="float: right;"> </p>
            </div>
 
            <div class="flow"> 
                <img src="assets\rent\h2.jpg" >
                <h1>Bachelor</h1>
                <p class="by">By<span class="name">STAY GOLD</span></p>
                <p class="description">A house is made of walls and beams; a home is built with love and dreams.</p>
                <span><del class="oldprice">$2500</del></span>
                <span class="newprice">$2000</span>
                <p class="ships"><span class="material-symbols-outlined">phone_in_talk</span>:9485769377</p>
                <p class="right"><img src="assets\logo.webp" height="40px" width="80px" alt="" style="float: right;"> </p>
            </div>
 
            <div class="flow"> 
                <img src="assets\rent\h3.jpg" >
                <h1>Villa</h1>
                <p class="by">By<span class="name">STAY GOLD</span></p>
                <p class="description">The magic thing about home is that it feels good to leave, and it feels even better to come back.</p>
                <span><del class="oldprice">$3455</del></span>
                <span class="newprice">$2673</span>
                <p class="ships"><span class="material-symbols-outlined">phone_in_talk</span>:9593746573</p>
                <p class="right"><img src="assets\logo.webp" height="40px" width="80px" alt="" style="float: right;">  </p>
            </div>
                
 
            <div class="flow top"> 
                <img src="assets\rent\h4.jpg" >
                <h1>Farmhouse</h1>
                <p class="by">By<span class="name"> STAY GOLD</span></p>
                <p class="description">A house becomes a home when you can write 'I love you' on the furniture.</p>
                <span><del class="oldprice">$3500</del></span>
                <span class="newprice">$2999</span>
                <p class="ships"><span class="material-symbols-outlined">phone_in_talk</span>:6486386647</p>
                <p class="right"><img src="assets\logo.webp" height="40px" width="80px" alt="" style="float: right;">  </p>
            </div>
                
 
            <div class="flow top"> 
                <img src="assets\rent\h5.jpg">
                <h1>Villa</h1>
                <p class="by">By<span class="name"> STAY GOLD</span></p>
                <p class="description">"Home is where your heart is, and I've found my heart in this place."</p>
                <span><del class="oldprice">$8996</del></span>
                <span class="newprice">$7652</span>
                <p class="ships"><span class="material-symbols-outlined">phone_in_talk</span>6875442569</p>
                <p class="right"><img src="assets\logo.webp" height="40px" width="80px" alt="" style="float: right;">  </p>
            </div>
                
 
            <div class="flow top"> 
                <img src="assets\rent\h6.jpg">
                <h1>Tiny</h1>
                <p class="by">By<span class="name">STAY GOLD</span></p>
                <p class="description">A hoodie is a sweatshirt with a hood.a drawstring to adjust the hood opening.</p>
                <span><del class="oldprice">$2556</del></span>
                <span class="newprice">$1398</span>
                <p class="ships"><span class="material-symbols-outlined">phone_in_talk</span>&nbsp;:6395457669</p>
                <p class="right"><img src="assets\logo.webp" height="40px" width="80px" alt="" style="float: right;"> </p>
            </div>
 
            <div class="clear">
            </div>
 
        </div>
     </div>
</div> 





    