
  .example-spacer {
    flex: 1 1 auto;
  }
  .tool{
    margin: 50px;
    border: none;
    font-size: large;
    padding: 10px;
    border-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }
  mat-toolbar button{
    background-color:transparent;
    color: rgb(18, 19, 19);
    padding: 10px;
    border-radius:35%;
  }
  mat-toolbar button:hover{
    color: rgb(25, 26, 26);
    background-color: pink;
    font-style:italic;
    font-weight: bold;
    border-radius: 100%;
  }
  h4{
    color: whitesmoke;
  }
  .bgi{
    position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     background-image:url('src/assets/rr-ai.jpg');
      background-size: 100% 100%;
    }
    .bgi button{
      padding: 10px;
      background-color: whitesmoke;
      color: black;
      border-radius: 20px;
    }
    .bgi button:hover{
      background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    }
  h1{
  font-size: 45px;
   white-space: nowrap;
   overflow: hidden;    
   font-family:'Times New Roman', Times, serif;  
   color: rgb(255, 255, 255);
   padding: 20px 0px;
   text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(1, 25, 77)
  }
  h3.title {
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 50px;
    font-family: var(--title-font);
    font-weight: normal;
    position: relative;
  }
  #testimonials {
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
  }
  #testimonials .testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    }
  #testimonials .testimonial-container .testimonail {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    min-height: 490px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: 0.3s ease;
  }
  #testimonials .testimonial-container:hover .testimonail {
    filter: brightness(75%);
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
  }
  #testimonials .testimonial-container .testimonail:hover {
    transform: scale(1.1);
    filter: brightness(100%);
    box-shadow: 10px 20px 200px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  #testimonials .testimonial-container .testimonail:hover .info {
    background-color: var(--secondary-clr);
  }
  #testimonials .testimonial-container .testimonail .text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
  }
  #testimonials .testimonial-container .testimonail .text .quote {
    font-size: 100px;
    font-family: "Playfair Display", serif;
    color: var(--main-clr);
  }
  #testimonials .testimonial-container .testimonail .text .review {
      margin-top: 50px;
    width: 300px;
    color: #555;
    transform: translateY(-36%);
    font-family: var(--main-font);
  }
  #testimonials .testimonial-container .testimonail .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-clr);
    position: relative;
    width: 100%;
    height: 200px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    transition: 0.3s ease;
  }
  #testimonials .testimonial-container .testimonail .info .pfp img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 130%;
    height: 130%;
  }
  #testimonials .testimonial-container .testimonail .info .pfp {
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #testimonials .testimonial-container .testimonail .info .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(15px);
  }
  #testimonials .testimonial-container .testimonail .info .information .name {
    font-size: 23px;
    color: #fff;
    font-family: var(--title-font);
  }
  #testimonials .testimonial-container .testimonail .info .information .social {
    font-size: 23px;
  }
  #testimonials .testimonial-container .testimonail .info .information .social a {
    color: #ededed;
    text-decoration: none;
    transition: 0.3s ease;
  }
 a {
    color: #fff;
      text-decoration: none;
    }
     .footer {
        background-color: #004658;
        color: #fff;       
    }
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .design-by{
      text-align: center;
    }
    .footer-menu ul{
      display: wrap;
      
    }