
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;

}
.loader:before,
.loader:after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: box1 1s infinite;
  background-color: #ec2323;
  box-shadow: 300px 0 0 #db18cb;
  margin-bottom: 10px;
}
.loader:after {
  animation: box2 1s infinite;
  background-color: #fbff00;
  box-shadow: 30px 0 0 #0f0e0e;
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes box1 {
  0% {
    box-shadow: 30px 0 0 #00ff1a;
  }
  50% {
    box-shadow: 0 0 0 #3be022;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #28ea38;
    margin-bottom: 10px;
  }
}

@keyframes box2 {
  0% {
    box-shadow: 30px 0 0 #3452ea;
  }
  50% {
    box-shadow: 0 0 0 #4242ed;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #3e32dd;
    margin-top: 0;
  }
}
  

/* loader close--------------------------------------------------- */



.example-spacer {
  flex: 1 1 auto;
}


.toolimg{

  overflow: hidden;
}



.tool{
  margin: 50px;
  border: none;
  font-size: large;
  padding: 10px;
  border-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
button{
  background-color:transparent;
  color: rgb(18, 19, 19);
  padding: 10px;
  border-radius:35%;
 
 
}
button:hover{
  color: rgb(25, 26, 26);
  background-color: pink;
  font-style:italic;
  font-weight: bold;
  border-radius: 100%;

  
}

/*---------------------------------------tool stop-----------------------------------------------*/

.imger{
    /*height: 100%;
    width: 100%; */
    height: 500px;
    width: 550px;
    position: relative;
   
   
}
h1,h3{
 /* color: #41EAD4; */
 font-weight: bolder;
 font-style:oblique;
 animation: effect 2s linear infinite;
 
 border-right: solid 3px rgba(0,255,0,.75);
 white-space: nowrap;
 overflow: hidden;    
 font-family: 'Source Code Pro', monospace;  
 font-size: 28px;
 color: rgba(32, 209, 209, 0.7);
}

/* Animation */
h1,h3 {
 animation: animated-text 4s steps(40,end) 1s 1 normal both,
            animated-cursor 600ms steps(40,end) infinite;
}




/* text animation */

@keyframes animated-text{
 from{width: 0;}
 to{width: 612px;}
}

/* cursor animations */

@keyframes animated-cursor{
 from{border-right-color:transparent;}
 to{border-right-color: transparent;}
 
}

.bgi{
position: relative;
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 5% 0;
 background-color: #F7F7F2;
 
  
}


/*-------------------------------------------feedback--------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.body {
  --main-font: "Poppins", sans-serif;
  --title-font: "Playfair Display", serif;
  --main-clr: #00CECB;
  --secondary-clr:#004658;
  --dark-clr: #111;
  
}

h3.title {
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 50px;
  font-family: var(--title-font);
  font-weight: normal;
  color: var(--main-clr);
  position: relative;
}

#testimonials {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
}

#testimonials .testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

#testimonials .testimonial-container .testimonail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  min-height: 490px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 0.3s ease;
}

#testimonials .testimonial-container:hover .testimonail {
  /* opacity: 0.5; */
  filter: brightness(75%);
  box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
  /* filter: blur(3px); */
}

#testimonials .testimonial-container .testimonail:hover {
  transform: scale(1.1);
  /* opacity: 1; */
  filter: brightness(100%);
  box-shadow: 10px 20px 200px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#testimonials .testimonial-container .testimonail:hover .info {
  background-color: var(--secondary-clr);
}

#testimonials .testimonial-container .testimonail .text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

#testimonials .testimonial-container .testimonail .text .quote {
  font-size: 100px;
  font-family: "Playfair Display", serif;
  color: var(--main-clr);
}

#testimonials .testimonial-container .testimonail .text .review {
    margin-top: 50px;
  width: 300px;
  color: #555;
  /* 210 */
  transform: translateY(-36%);
  /* 170 */
  /* 490 */
  font-family: var(--main-font);
}

#testimonials .testimonial-container .testimonail .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-clr);
  position: relative;
  width: 100%;
  height: 200px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  /* 490 290 */
  transition: 0.3s ease;
}

#testimonials .testimonial-container .testimonail .info .pfp img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 130%;
  height: 130%;
}

#testimonials .testimonial-container .testimonail .info .pfp {
  width: 100px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials .testimonial-container .testimonail .info .information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transform: translateY(15px);
}

#testimonials .testimonial-container .testimonail .info .information .name {
  font-size: 23px;
  color: #fff;
  font-family: var(--title-font);
}

#testimonials .testimonial-container .testimonail .info .information .social {
  font-size: 23px;
}

#testimonials .testimonial-container .testimonail .info .information .social a {
  color: #ededed;
  text-decoration: none;
  transition: 0.3s ease;
}

#testimonials
  .testimonial-container
  .testimonail
  .info
  .information
  .social:hover
  a {
  opacity: 0.5;
}

#testimonials
  .testimonial-container
  .testimonail
  .info
  .information
  .social
  a:hover {
  opacity: 1;
}

@media (max-width: 1150px) {
  #testimonials {
    height: 200vh;
  }

  #testimonials .testimonial-container {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

@media (max-width: 780px) {
  #testimonials {
    height: 300vh;
  }

  #testimonials .testimonial-container {
    grid-template-columns: 1fr;
  }
}






/*--------------------------------------------------footer-------------*/

* {
    margin: 0;
    padding: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #004658;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #daed09;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
      
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
      height: 25px;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }

  